<header>
  <div class="container">
    <a routerLink="/" class="logo"> {{ appTitle }}</a>
    <nav>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/faces">Faces</a></li>

      </ul>
    </nav>
  </div>
</header>