<p>
  faces works!
</p>
<body>
  <video id="video" [srcObject]="video" width="720" height="560" autoplay muted></video>
  <video *ngIf="stream" [srcObject]="stream" autoplay width="720" height="560"></video>
</body>